@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #27374d 0%, #dde6ed 100%);
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(70vh, 80%);
  max-width: 600px;
}

#mainCanvas {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  margin-top: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#score {
  font-family: "Exo 2", sans-serif;
  margin-top: 30px;
  font-size: 16px;
  padding-left: 20px;
  color: #172b36;
}
